{
  "openapi": "3.0.1",
  "info": {
    "title": "Veracode DAST Target Configuration Service API",
    "description": "Veracode DAST Target Configuration Service API Documentation\nUse one of the following base URLs depending on the region for your account:\n\n  • https://api.veracode.com/ - Veracode US Region (default)\n  • https://api.veracode.eu/ - Veracode European Region\n",
    "contact": {
      "email": "veracode@veracode.com"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.veracode.com/dae/api/tcs-api/api/v1"
    }
  ],
  "tags": [
    {
      "name": "target",
      "description": "Create, update, delete, and retrieve targets."
    },
    {
      "name": "analysis_profile",
      "description": "Retrieve and update analysis profiles. \nAnalysis profiles define the configurations for your analyses.\n"
    },
    {
      "name": "authentication",
      "description": "Retrieve and update authentication options that targets use to access URLs.\n"
    },
    {
      "name": "analysis_profile_scanners",
      "description": "Retrieve and update scanner configuration options.\n"
    },
    {
      "name": "crawl_configuration",
      "description": "Retrieve and update crawl configuration options.\n"
    },
    {
      "name": "scanner_variables",
      "description": "Create, update, delete, and retrieve scanner variables.\n"
    },
    {
      "name": "ism_gateway",
      "description": "Retrieve and update ISM configuration options.\n"
    },
    {
      "name": "schedule",
      "description": "Create, update, delete, and retrieve schedules that define when to run analyses.\n"
    },
    {
      "name": "analysis_run",
      "description": "Run analyses and retrieve the results.\n"
    },
    {
      "name": "discovered_target",
      "description": "Retrieve and update discovered targets.\n"
    },
    {
      "name": "applications",
      "description": "Retrieve applications.\n"
    }
  ],
  "paths": {
    "/targets": {
      "get": {
        "tags": [
          "target"
        ],
        "summary": "Return a list of all targets.\n",
        "description": "Return a list of all targets.\n",
        "operationId": "getTargets",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number index to start pagination.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return from pagination.",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 10,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortBy"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by the target name.",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "pattern": "^[ -~]+$",
              "type": "string",
              "example": "target name"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "Filter by the target URL.",
            "required": false,
            "schema": {
              "maxLength": 1000,
              "minLength": 1,
              "pattern": "^[ -~]+$",
              "type": "string"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "description": "Filter by the target name or target URL.",
            "required": false,
            "schema": {
              "maxLength": 1000,
              "minLength": 1,
              "pattern": "^[ -~]+$",
              "type": "string",
              "example": "search term"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "description": "Filter by the target type. Can be web application or API target.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEB_APP",
                "API"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The target list is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedTargets"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "target"
        ],
        "summary": "Create a target for the specified account.\n",
        "description": "Create a target for the specified account.\n",
        "operationId": "createTarget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "You have successfully submitted your target. The URL of the new target is in the HTTP response header",
            "headers": {
              "location": {
                "description": "Link to the newly created target.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "501": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/targets/{target_id}": {
      "get": {
        "tags": [
          "target"
        ],
        "summary": "Return the target for the provided target ID.\n",
        "description": "Return the target for the provided target ID.\n",
        "operationId": "getTargetById",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The target is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Unknown target ID. Verify the target ID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "target"
        ],
        "summary": "Update a target for an account.\n",
        "description": "Update a target for an account.\n",
        "operationId": "updateTarget",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the target request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully edited your target.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Target"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. If there is no response body, your request contains malformed JSON. \nIf there is a response body, Veracode could not validate your JSON payload. \nVerify the source attribute in each service error in the response and the associated code, and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "501": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "target"
        ],
        "summary": "Delete the target with the provided target ID.",
        "description": "Delete the target with the provided target ID.",
        "operationId": "deleteTargetById",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the target."
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "Unknown target ID. Verify the target ID and try again."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/targets/{target_id}/spec": {
      "get": {
        "tags": [
          "target"
        ],
        "summary": "Return a target API specification.\n",
        "description": "Return a target API specification.\n",
        "operationId": "getTargetApiSpec",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scan_id",
            "in": "query",
            "description": "UUID of the scan or analysis run.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The API specification is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSpec"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Unknown target ID. Verify the target ID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "target"
        ],
        "summary": "Upload an API specification.\n",
        "description": "Upload an API specification.\n",
        "operationId": "uploadTargetApiSpec",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/target_id_spec_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully uploaded an API specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSpec"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. If there is no response body, your request contains malformed JSON. If there is a response body, Veracode could not validate your API specification file. Verify the source attribute in each service error in the response and the associated code, and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "501": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/targets/{target_id}/spec/download": {
      "get": {
        "tags": [
          "target"
        ],
        "summary": "Return the contents of an API specification.\n",
        "description": "Return the contents of an API specification.\n",
        "operationId": "downloadTargetApiSpecContents",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scan_id",
            "in": "query",
            "description": "UUID of the scan or analysis run.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The content of the API specification is returned.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Unknown target ID. Verify the target ID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/targets/{target_id}/link": {
      "put": {
        "tags": [
          "target"
        ],
        "summary": "Link a target to an application.\n",
        "description": "Link a target to an application.\n",
        "operationId": "linkTarget",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "UUID of the Target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the Dynamic Target app linking request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetLinkRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "You have successfully linked the target to an application.\n"
          },
          "400": {
            "description": "Invalid request. If there is no response body, your request contains malformed JSON. \nIf there is a  response body, Veracode could not validate your JSON payload. \nVerify the source attribute in each  service error in the response and the associated code, and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Dynamic target or application not found."
          },
          "409": {
            "description": "Dynamic target or application is already linked."
          },
          "422": {
            "description": "Target must be of enterprise type."
          },
          "500": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "target"
        ],
        "summary": "Unlinks a target from an application.\n",
        "description": "Unlinks a target from an application.\n",
        "operationId": "unlinkTarget",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the Target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "You have successfully unlinked the target from the application.\n"
          },
          "400": {
            "description": "Invalid request. If there is no response body, your request contains malformed JSON. \nIf there is a  response body, Veracode could not validate your JSON payload. \nVerify the source attribute in each  service error in the response and the associated code, and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Target not found."
          },
          "409": {
            "description": "Unable to unlink, one or more result imports are still in progress."
          },
          "422": {
            "description": "Target must be of enterprise type."
          },
          "501": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/ism_gateways": {
      "get": {
        "tags": [
          "ism_gateway"
        ],
        "summary": "Return the list of available ISM gateways for this account.\n",
        "description": "Return the list of available ISM gateways for this account.\n",
        "operationId": "getIsmGateways",
        "responses": {
          "200": {
            "description": "Success. The ISM gateways are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IsmGateway"
                  }
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Resource not found."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/ism_gateways/targets/{target_id}": {
      "get": {
        "tags": [
          "ism_gateway"
        ],
        "summary": "Return ISM gateway information for a given target.\n",
        "description": "Return ISM gateway information for a given target.\n",
        "operationId": "getTargetIsmGateway",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. ISM gateway configuration for a given target is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetIsmGateway"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ism_gateway"
        ],
        "summary": "Update ISM gateway configuration for a given target.\n",
        "description": "Update ISM gateway configuration for a given target.\n",
        "operationId": "updateTargetIsmGateway",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetIsmGateway"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. ISM gateway configuration is updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TargetIsmGateway"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Resource not found."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_profiles": {
      "get": {
        "tags": [
          "analysis_profile"
        ],
        "summary": "Return a list of analysis profiles.\n",
        "description": "Return a list of analysis profiles.\n",
        "operationId": "getAnalysisProfiles",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number index to start pagination.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return from pagination.",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 10,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "description": "Filter by target ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by the type of the analysis profile.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AnalysisProfileType"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis profile list is returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedAnalysisProfiles"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}": {
      "get": {
        "tags": [
          "analysis_profile"
        ],
        "summary": "Return an analysis profile. Each target level analysis profile inherits values from a parent analysis profile.\n",
        "description": "Return an analysis profile. Each target level analysis profile inherits values from a parent analysis profile.\n",
        "operationId": "getAnalysisProfileById",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returned the analysis profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisProfile"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Resource not found."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "analysis_profile"
        ],
        "summary": "Update an analysis profile for an account.\n",
        "description": "Update an analysis profile for an account.\n",
        "operationId": "updateAnalysisProfile",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "Details of the analysis profile request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully edited your analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request. If there is no response body, your request contains malformed JSON. \nIf there is a  response body, Veracode could not validate your JSON payload. \nVerify the source attribute in each  service error in the response and the associated code, and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Resource not found."
          },
          "501": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/parent": {
      "put": {
        "tags": [
          "analysis_profile"
        ],
        "summary": "Switch the parent of an analysis profile to inherit values of the new parent analysis profile.\n",
        "description": "Switch the parent of an analysis profile to inherit values of the new parent analysis profile.\n",
        "operationId": "updateAnalysisProfileParent",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ID of the new parent analysis profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalysisProfileUpdateParentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully changed the parent of the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisProfile"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Resource not found."
          },
          "500": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/schedule": {
      "get": {
        "tags": [
          "schedule"
        ],
        "summary": "Return the schedule for a given analysis profile identifier.\n",
        "description": "Return the schedule for a given analysis profile identifier.\n",
        "operationId": "getSchedule",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The schedules are returned for a specific analysis profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "204": {
            "description": "No schedule has been found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "schedule"
        ],
        "summary": "Update schedule for given analysis profile.\n",
        "description": "Update schedule for given analysis profile.\n",
        "operationId": "updateSchedule",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update the schedule request for the analysis profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully edited your schedule.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "Unknown analysis profile or schedule ID. Verify the IDs and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "schedule"
        ],
        "summary": "Remove the schedule for the given Analysis Profile UUID.\n",
        "description": "Remove the schedule for the given Analysis Profile UUID.\n",
        "operationId": "deleteSchedule",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "You have successfully removed this schedule.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "Unknown analysis profile or schedule ID.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/authentications": {
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Retrieve the effective authentications for an analysis profile\n",
        "description": "Retrieve effective authentications for an analysis profile.\n",
        "operationId": "getEffectiveAuthentications",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The effective authentication is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveAuthentications"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/AnalysisProfile404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/system_authentication": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update System Authentication for the analysis profile and provided identifier.\n",
        "description": "Update system authentication for the analysis profile and provided identifier.\n",
        "operationId": "updateSystemAuthentication",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemAuthenticationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated system authentication for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemAuthentication"
                }
              }
            }
          },
          "204": {
            "description": "You have successfully removed system authentication for the analysis profile.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/assignable_parent_profiles": {
      "get": {
        "tags": [
          "analysis_profile"
        ],
        "summary": "Return a list of analysis profiles that can be assigned as parent analysis profiles.\n",
        "description": "Return a list of analysis profiles that can be assigned as parent analysis profiles.\n",
        "operationId": "getAssignableParentProfiles",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "Flag that filters by analysis profile mode.\n",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ModeEnum"
            }
          },
          {
            "name": "analysis_profile_id",
            "in": "query",
            "description": "ID of the target's analysis profile. \nIf ID is provided, response returns available parent analysis profiles for an analysis profile.\nIf ID is missing, response returns available parent analysis profiles for the user organization.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_scanners",
            "in": "query",
            "description": "Flag that denotes whether the analysis profile scanners should be included in the response.\nIf this is set to true, the analysis profile scanners should be included in the response.\nIf this is set to false, the analysis profile scanners are not returned in the response.\nIf flag is not included in the request, analysis profile scanners are not provided by default.\n",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The parent analysis profile list is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssignableParentAnalysisProfile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/certificate_authentication": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update Certificate Authentication for the analysis profile and provided identifier.\n",
        "description": "Update certificate authentication for the analysis profile and provided identifier.\n",
        "operationId": "updateCertificateAuthentication",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CertificateAuthenticationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated certificate authentication for the analysis profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateAuthentication"
                }
              }
            }
          },
          "204": {
            "description": "You have successfully removed certificate authentication from the analysis profile."
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/script_authentication": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update Script Authentication for the analysis profile and provided identifier.\n",
        "operationId": "updateScriptAuthentication",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScriptAuthenticationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated script authentication for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScriptAuthentication"
                }
              }
            }
          },
          "204": {
            "description": "You have successfully removed script authentication from the analysis profile.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/application_authentication": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update Form-based Application Authentication for the analysis profile and provided identifier.\n",
        "description": "Update form-based application authentication for the analysis profile and provided identifier.\n",
        "operationId": "updateApplicationAuthentication",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationAuthenticationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated form-based application authentication for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationAuthentication"
                }
              }
            }
          },
          "204": {
            "description": "You have successfully removed form-based application authentication for the analysis profile.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/parameter_authentications": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update Parameter Authentication for the analysis profile.\n",
        "description": "Update parameter authentication for the analysis profile.\n",
        "operationId": "updateParameterAuthentications",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParameterAuthenticationsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the parameter authentications for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParameterAuthentications"
                }
              }
            }
          },
          "204": {
            "description": "Successfully deleted the parameter authentications from the analysis profile."
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/srm_authentication": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update Scriptable Request Modification Authentication for the analysis profile and provided identifier.\n",
        "operationId": "updateSRMAuthentication",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SRMAuthenticationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated Scriptable Request Modification (SRM) authentication for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRMAuthentication"
                }
              }
            }
          },
          "204": {
            "description": "You have successfully removed Scriptable Request Modification (SRM) authentication from the analysis profile.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/oauth2_authentication": {
      "put": {
        "tags": [
          "authentication"
        ],
        "summary": "Update OAuth2.0 Authentication for the analysis profile and provided identifier.\n",
        "operationId": "updateOAuth2Authentication",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuth2AuthenticationUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated OAuth 2.0 authentication for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuth2Authentication"
                }
              }
            }
          },
          "204": {
            "description": "You have successfully removed OAuth 2.0 authentication from the analysis profile.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/scanners": {
      "get": {
        "tags": [
          "analysis_profile_scanners"
        ],
        "summary": "Retrieve the Scanner Profile for the effective analysis profile.\n",
        "description": "Retrieve the scanner profile for the effective analysis profile.\n",
        "operationId": "getScannerProfile",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The scanner profile is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScannerProfile"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/AnalysisProfile404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      },
      "put": {
        "tags": [
          "analysis_profile_scanners"
        ],
        "summary": "Update the Scanner Profile for the provided analysis profile.\n",
        "description": "Update the scanner profile for the provided analysis profile.\n",
        "operationId": "updateScannerProfile",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScannerProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated the scanner profile for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScannerProfile"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/AnalysisProfile404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/scanner_variables": {
      "get": {
        "tags": [
          "scanner_variables"
        ],
        "summary": "Retrieve the Effective Scanner Variables for an analysis profile\n",
        "description": "Retrieve the effective scanner variables for an analysis profile.\n",
        "operationId": "getEffectiveScannerVariables",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The analysis profile effective scanner variables are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveScannerVariables"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/AnalysisProfile404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      },
      "put": {
        "tags": [
          "scanner_variables"
        ],
        "summary": "Update Scanner Variables for the analysis profile.\n",
        "description": "Update scanner variables for the analysis profile.\n",
        "operationId": "updateScannerVariables",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScannerVariablesUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated scanner variables for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EffectiveScannerVariables"
                }
              }
            }
          },
          "204": {
            "description": "Successfully deleted the scanner variables from the analysis profile.\n"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/Authentication404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_profiles/{analysis_profile_id}/crawl_configuration": {
      "get": {
        "tags": [
          "crawl_configuration"
        ],
        "summary": "Retrieve the Crawl Configuration for an analysis profile\n",
        "operationId": "getCrawlConfiguration",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The crawl configuration for the analysis profile is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/AnalysisProfile404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      },
      "put": {
        "tags": [
          "crawl_configuration"
        ],
        "description": "Update the crawl configuration for the provided analysis profile.\n",
        "operationId": "updateCrawlConfiguration",
        "parameters": [
          {
            "name": "analysis_profile_id",
            "in": "path",
            "description": "ID of the analysis profile.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UUIDWithoutHyphens"
            }
          },
          {
            "name": "method",
            "in": "query",
            "description": "If set to PATCH, updates the content to values in the request, but null values and absent attributes are ignored.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PATCH"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrawlConfigurationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "You have successfully updated the scanner profile for the analysis profile.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CrawlConfiguration"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "$ref": "#/components/responses/AnalysisProfile404Response"
          },
          "500": {
            "$ref": "#/components/responses/Problem500Response"
          }
        }
      }
    },
    "/analysis_run": {
      "post": {
        "tags": [
          "analysis_run"
        ],
        "summary": "Starts a new analysis for the input target.\n",
        "description": "Starts a new analysis for the input target.\n",
        "operationId": "startAnalysisRun",
        "requestBody": {
          "description": "ID of the target.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TargetAnalysisRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Analysis started successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "400": {
            "description": "Target ID is invalid, or analysis is in progress.\n"
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_run/report/{target_id}": {
      "get": {
        "tags": [
          "analysis_run"
        ],
        "summary": "Get the analysis run report for the provided identifier.\n",
        "description": "Get the analysis run report for the provided identifier.\n",
        "operationId": "getAnalysisRunReportByTargetId",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "download",
            "in": "query",
            "description": "If true, returns the report file directly instead of redirecting.\n",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report file (if `download=true`)",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Success. Redirecting to report download URL.",
            "headers": {
              "location": {
                "description": "Report download URL.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "Unknown target identifier. Verify the target ID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/analysis_run/{target_id}/stop": {
      "post": {
        "tags": [
          "analysis_run"
        ],
        "summary": "Stop analysis for a given target UUID.\n",
        "description": "Stop analysis for a given target UUID.\n",
        "operationId": "stopAnalysisRun",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "UUID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Type of action.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/StopActionType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully performed stop action."
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Unknown analysis run identifier. Verify the analysis run UUID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/discovered_targets": {
      "get": {
        "tags": [
          "discovered_target"
        ],
        "summary": "Returns a list of all discovered targets.\n",
        "description": "Returns a list of all discovered targets.\n",
        "operationId": "getDiscoveredTargets",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number index to start pagination.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return from pagination.",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 10,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DiscoveredTargetSortBy"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortOrder"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "Filter by the discovered target url.",
            "required": false,
            "schema": {
              "maxLength": 1000,
              "minLength": 1,
              "pattern": "^[ -~]+$",
              "type": "string"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "description": "Filter by the discovered target type.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WEB_APP",
                "API"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by the discovered target status.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "MAPPED",
                "IGNORED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The discovered target list is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedDiscoveredTargets"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/discovered_targets/ignore": {
      "post": {
        "tags": [
          "discovered_target"
        ],
        "summary": "Marks the provided discovered targets as ignored.\n",
        "description": "Sets the status of multiple discovered targets to IGNORED, unless any are already MAPPED.\n",
        "operationId": "ignoreDiscoveredTargets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IgnoreDiscoveredTargetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully set the IGNORED status to the discovered targets."
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "The request contains an unknown discovered target identifier. Verify the discovered target IDs and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Discovered target is already mapped.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/discovered_targets/{discovered_target_id}/map": {
      "post": {
        "tags": [
          "discovered_target"
        ],
        "summary": "Maps a discovered target to an existing DAST target.\n",
        "description": "Maps a Discovered Target with status NEW to an existing DAST target. \nUpon successful mapping, the status of the Discovered Target will be updated to MAPPED.\n",
        "operationId": "mapDiscoveredTarget",
        "parameters": [
          {
            "name": "discovered_target_id",
            "in": "path",
            "description": "ID of the discovered target to map.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapDiscoveredTargetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successfully mapped the discovered target."
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "Discovered target or DAST target not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "Discovered target is already mapped or ignored.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/discovered_targets/map_to_new": {
      "post": {
        "tags": [
          "discovered_target"
        ],
        "summary": "Maps multiple discovered targets by creating new DAST targets.\n",
        "description": "Creates a new dynamic target for each provided discovered target and maps them.\nThe operation is atomic: if validation fails for any discovered target, the entire request is rejected.\nAfter mapping, the status of each discovered target will be updated to MAPPED.\n",
        "operationId": "batchMapDiscoveredTargets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchMapDiscoveredTargetsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully mapped all discovered targets to new DAST targets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddedDiscoveredTargets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "One or more discovered targets not found.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "409": {
            "description": "One or more discovered targets are already mapped or ignored.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      },
      "x-hidden": true
    },
    "/targets/{target_id}/analysis_runs": {
      "get": {
        "tags": [
          "analysis_run"
        ],
        "summary": "Retrieve all Analysis Runs for the given target.\n",
        "description": "Returns a list of all Analysis Runs associated with the specified target.\n",
        "operationId": "getAnalysisRuns",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "UUID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number index to start pagination.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return from pagination.",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 10,
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The list of all Analysis Runs is retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedAnalysisRuns"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Unknown identifier. Verify the Dynamic Target UUID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/targets/{target_id}/analysis_runs/{analysis_run_id}": {
      "get": {
        "tags": [
          "analysis_run"
        ],
        "summary": "Retrieve a specific analysis run.\n",
        "description": "Returns the Analysis Run for the specified identifier.\n",
        "operationId": "getAnalysisRunById",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "UUID of the target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "analysis_run_id",
            "in": "path",
            "description": "UUID of the analysis run.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The Dynamic Analysis Run Object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRun"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem400Response"
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "403": {
            "description": "Forbidden access to this resource."
          },
          "404": {
            "description": "Unknown identifier. Verify the Dynamic Target and Analysis Run UUIDs and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/targets/{target_id}/analysis_runs/{analysis_run_id}/report/{format}": {
      "get": {
        "tags": [
          "analysis_run"
        ],
        "summary": "Gets the report for the provided analysis.\n",
        "description": "Gets the report for the provided analysis run in the given format.\n",
        "operationId": "getAnalysisRunReportByFormat",
        "parameters": [
          {
            "name": "target_id",
            "in": "path",
            "description": "ID of the Dynamic Target.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "analysis_run_id",
            "in": "path",
            "description": "ID of the Analysis Run.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "path",
            "description": "The format of the report. Possible options are 'pdf', 'csv', and 'junit'.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the report file.",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "404": {
            "description": "Unknown identifier. Verify the Dynamic Target ID and Analysis Run ID and try again.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Retrieve a list of applications.\n",
        "description": "Retrieve a list of applications.\n",
        "operationId": "getApplications",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number index to start pagination.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return from pagination.",
            "required": false,
            "schema": {
              "maximum": 200,
              "minimum": 10,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by the application name.",
            "required": false,
            "schema": {
              "maxLength": 1000,
              "minLength": 1,
              "pattern": "^[ -~]+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The applications list is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedApplications"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform this action."
          },
          "500": {
            "description": "Server-side error. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Weekday": {
        "type": "string",
        "description": "The day of the week on which the schedule triggers. Use this field alone for WEEKLY frequency. For MONTHLY frequency, use this field together with `week_of_month` to schedule by an ordinal weekday. Do not set this field together with `day`.\n",
        "nullable": true,
        "enum": [
          "MONDAY",
          "TUESDAY",
          "WEDNESDAY",
          "THURSDAY",
          "FRIDAY",
          "SATURDAY",
          "SUNDAY"
        ]
      },
      "SchedulingFrequency": {
        "type": "string",
        "description": "Enum which represents frequency options for schedule.",
        "enum": [
          "DAILY",
          "WEEKLY",
          "MONTHLY"
        ]
      },
      "ScheduleRequest": {
        "required": [
          "active_from",
          "frequency",
          "max_duration",
          "time",
          "timezone"
        ],
        "type": "object",
        "properties": {
          "frequency": {
            "$ref": "#/components/schemas/SchedulingFrequency"
          },
          "interval": {
            "minimum": 1,
            "type": "integer",
            "description": "The recurrence interval. The schedule runs every N units defined by `frequency`.\n",
            "default": 1
          },
          "day": {
            "maximum": 31,
            "minimum": -1,
            "type": "integer",
            "description": "The calendar day (1–31) on which the schedule triggers for monthly frequency. Mutually exclusive with `weekday` and `week_of_month`. If the specified day does not exist in a given month (for example, 31 in February), the schedule is skipped for that month. Use -1 to specify the last day of the month.\n"
          },
          "weekday": {
            "$ref": "#/components/schemas/Weekday"
          },
          "week_of_month": {
            "maximum": 4,
            "minimum": -1,
            "type": "integer",
            "description": "The week of the month for Monthly schedules. Use this field together with `weekday` to schedule by ordinal weekday occurrence. Do not set this field when `day` is used. Valid values: 1–4 (first through fourth occurrence of the weekday), -1 (last occurrence of the weekday in the month), 0 (not set).\n"
          },
          "timezone": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "description": "HH:mm",
            "format": "time"
          },
          "max_duration": {
            "maximum": 129599,
            "minimum": 50,
            "type": "integer",
            "description": "Maximum duration for scan in minutes.",
            "nullable": true,
            "example": 4320
          },
          "active_from": {
            "type": "string",
            "description": "The date the schedule becomes active. The schedule will not trigger before this date. The specified timezone determines the start time.\n",
            "format": "date"
          },
          "active_to": {
            "type": "string",
            "description": "The date through which the schedule remains active. The schedule does not trigger after this date. The specified timezone determines the end time. If omitted, the schedule runs indefinitely.\n",
            "format": "date",
            "nullable": true
          }
        },
        "description": "Request to amend schedule. You can use this request object to create and update target schedule.\n",
        "example": {
          "frequency": "WEEKLY",
          "interval": 2,
          "day": 0,
          "weekday": "MONDAY",
          "timezone": "America/New_York",
          "time": 1350,
          "active_from": "2026-01-01",
          "active_to": "2027-01-01",
          "max_duration": 4320
        }
      },
      "ScheduleResponse": {
        "required": [
          "active_from",
          "analysis_profile_id",
          "created_at",
          "first_run_at",
          "frequency",
          "status",
          "time",
          "timezone"
        ],
        "type": "object",
        "properties": {
          "analysis_profile_id": {
            "type": "string",
            "description": "ID of the analysis profile.",
            "format": "string"
          },
          "frequency": {
            "$ref": "#/components/schemas/SchedulingFrequency"
          },
          "interval": {
            "minimum": 1,
            "type": "integer",
            "description": "Recurrence interval. The schedule is suppose to run every N units defined by `frequency`.\n",
            "default": 1
          },
          "day": {
            "maximum": 31,
            "minimum": -1,
            "type": "integer",
            "description": "The calendar day (1–31) on which the schedule triggers for monthly frequency. Mutually exclusive with `weekday` and `week_of_month`. If the specified day does not exist in a given month (for example, 31 in February), the schedule is skipped for that month. Use -1 for the last day of the month.\n",
            "default": 0
          },
          "weekday": {
            "$ref": "#/components/schemas/Weekday"
          },
          "week_of_month": {
            "maximum": 4,
            "minimum": -1,
            "type": "integer",
            "description": "The week of the month for Monthly schedules. Use this field together with `weekday` to schedule by ordinal weekday occurrence. Do not set this field when `day` is used. Valid values: 1–4 (first through fourth occurrence of the weekday), -1 (last occurrence of the weekday in the month), 0 (not set).\n"
          },
          "timezone": {
            "type": "string",
            "description": "Time zone of the schedule."
          },
          "time": {
            "type": "string",
            "description": "Time of the scheduled run.",
            "format": "time"
          },
          "max_duration": {
            "maximum": 129599,
            "minimum": 50,
            "type": "integer",
[...]
